In [150]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import plotly
%matplotlib inline

In [173]:
path = os.getcwd()
dataFilePath = os.path.join(path,"data_files","revenue.xlsx")

'c:\\Users\\unhea\\Documents\\Bootcamp\\My Repositories\\Project-1\\data_files\\revenue.xlsx'

In [174]:
revenue = pd.read_excel(dataFilePath)

In [ ]:
revenue.isnull().sum()

In [175]:
path = os.getcwd()
dataFilePath = os.path.join(path,"data_files","grad_rate.xlsx")

grad_rate = pd.read_excel(dataFilePath)
grad_rate.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,States,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0
1,United States,79.3,80.0,81.4,80.0,83.2,84.3,85.4
2,Alabama,72.0,75.0,80.0,75.0,89.3,87.0,89.0
3,Alaska,68.0,70.0,71.8,70.0,75.6,76.0,78.0
4,Arizona,78.0,76.0,75.1,76.0,77.4,8.0,78.0

In [ ]:
grad_rate.shape

In [ ]:
grad_rate_df = grad_rate.rename(columns={"Unmaned: 0":"States", "Unnamed: 1":"2010", "Unnamed: 2":"2011", "Unnamed: 3":"2012", "Unnamed: 4":"2013", "Unnamed: 5":"2014", "Unnamed: 6":"2015", "Unnamed: 7":"2016" })
grad_rate_df.head()

In [ ]:
grad_rate_df_1 = grad_rate_df.drop([0,1])
grad_rate_renamed = grad_rate_df_1.rename(columns={"Unnamed: 0": "States"})
grad_rate_renamed = grad_rate_renamed.set_index('States')
grad_rate_renamed.head()

In [ ]:
# This is just a check
grad_rate_renamed_df.isnull().sum()

In [ ]:
grad_rate_renamed

In [ ]:
# Get full data for state
yearValues = pd.DataFrame(grad_rate_renamed_df.loc['Oklahoma'].transform(lambda x: x.fillna(x.mean())))
# Drop incomplete data
grad_rate_renamed = grad_rate_renamed.drop(index='Oklahoma')
# Flatten the year data
stateData = yearValues.T
# Add new data and sort by state name
grad_rate_renamed = grad_rate_renamed.append(stateData).sort_index()
# Print results
grad_rate_renamed

In [ ]:
yearValues = grad_rate_renamed_df.loc['Idaho'].transform(lambda x: x.fillna(x.mean()))
# Drop incomplete data
grad_rate_renamed = grad_rate_renamed.drop(index='Idaho')
# Flatten the year data
stateData = yearValues.T
# Add new data and sort by state name
grad_rate_renamed = grad_rate_renamed.append(stateData).sort_index()
# Print results
grad_rate_renamed

In [ ]:
yearValues = grad_rate_renamed_df.loc['Kentucky'].transform(lambda x: x.fillna(x.mean()))
# Drop incomplete data
grad_rate_renamed = grad_rate_renamed.drop(index='Kentucky')
# Flatten the year data
stateData = yearValues.T
# Add new data and sort by state name
grad_rate_renamed = grad_rate_renamed.append(stateData).sort_index()
# Print results
grad_rate_renamed

In [ ]:
pupil_spending = pd.read_excel("new_files/per_pupil_spending.xlsx")
pupil_spending.head()

In [ ]:
pupil_spending_renamed = pupil_spending.rename(columns={"2007":"2007_PPS", "2008":"2008_PPS", "2009":"2009_PPS",
                                                       "2010":"2010_PPS", "2011":"2011_PPS", "2012":"2012_PPS", "2013":"2013_PPS",
                                                       "2014":"2014_PPS", "2015":"2015_PPS", "2016":"2016_PPS", 
                                                       "Unnamed: 2":"2007 pct_change", "Unnamed: 4":"2008 pct_change",
                                                       "Unnamed: 6":"2009 pct_change","Unnamed: 8":"2010 pct_change",
                                                       "Unnamed: 10":"2011 pct_change", "Unnamed: 12":"2012 pct_change",
                                                       "Unnamed: 14":"2013 pct_change", "Unnamed: 16":"2014 pct_change",
                                                       "Unnamed: 18":"2015 pct_change", "Unnamed: 20":"2016 pct_change"})

pupil_spending_renamed.head()

In [ ]:
pupil_spending_df = pupil_spending_renamed.drop([0,1])
pupil_spending_df.head()

In [ ]:
pupil_spending_df.isnull().sum()

In [ ]:
ratio = pd.read_excel("new_files/teacher_student_ratio.xlsx")
ratio.head()

In [ ]:
ratio_df = ratio.drop(['Unnamed: 1', 2007, 'Unnamed: 3', 'Unnamed: 4', 2008, 'Unnamed: 6', 'Unnamed: 7', 2009, 'Unnamed: 9','Unnamed: 10', 2010, 'Unnamed: 12'],axis=1)
ratio_df.head()

In [ ]:
ratio_renamed_df = ratio_df.rename(columns={"Unnamed: 0":"State", "Unnamed: 13":"2011_staff", 2011:"2011_enrollment", 
                                     "Unnamed: 15":"2011_ratio", "Unnamed: 16":"2012_staff", 2012:"2012_enrollment", 
                                      "Unnamed: 18":"2012_ratio", "Unnamed: 19":"2013_staff", 2013:"2013_enrollment",
                                     "Unnamed: 21":"2013_ratio", "Unnamed: 22":"2014_staff", 2014:"2014_enrollment",
                                     "Unnamed: 24":"2014_ratio",  "Unnamed: 25":"2015_staff", 2015:"2015_enrollment",
                                     "Unnamed: 27":"2015_ratio", "Unnamed: 28":"2016_staff", 2016:"2016_enrollment",
                                     "Unnamed: 30":"2016_ratio"}) 
                                     
ratio_renamed_df.head()

In [ ]:
ratio_cleaned_df = ratio_renamed_df.drop([0])
ratio_cleaned_df.head()

In [ ]:
ratio_cleaned_df.isnull().sum()

In [ ]:
teacher_salaries = pd.read_excel("new_files/teacher_salaries_1.xlsx").round(0)
teacher_salaries.drop([0])

In [ ]:
grad_rate_renamed